@use 'site/v';

.find-us {
	display: flex;
	flex-direction: column;
}

.find-us .content,
.find-us h1 {
	@media (min-width: 1000px) {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
}

.find-us .white-box {
	background-color: v.$white;
}

.find-us .content {
	padding: 20px 0 50px 0;
}

.find-us .content ul {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.find-us h3.what-3-words {
	margin-bottom: 0;
}

.find-us a.page-link {
	margin-left: 40px;
}

.find-us #googlemaps {
	margin-top: auto;
}

.find-us #googlemaps .map {
	height: 400px;
	width: 100%;
	background-color: v.$bg-light;
}