@use 'site/v';

.find-us {
	display: flex;
	flex-direction: column;
}

.find-us .content,
.find-us h1 {
	@media (min-width: 1000px) {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
}

.find-us .white-box {
	background-color: v.$white;
}

.find-us .content {
	padding: 20px 0 0 0;
}

.find-us .content h3 {
	margin-top: 40px;
}

.find-us .content ul {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;

	@media (max-width: 700px) {
		padding-left: 0;
	}
}

.find-us .content li:not(.gate-second-row) {
	margin-bottom: 5px;
}

.find-us .content li.gate-second-row {
	margin-bottom: 30px;
}

.find-us .content ul span {
	color: white;
	margin-right: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	float: left;

	// @media (max-width: 700px) {
	// 	float: right;
	// }
}

.find-us .content ul .gate-open {
	background-color: v.$pale-green;
}

.find-us .content ul .gate-closed {
	background-color: v.$pale-red;
}

.find-us #googlemaps {
	margin-top: auto;
}

.find-us #googlemaps .map {
	height: 400px;
	width: 100%;
	background-color: v.$bg-light;
}