@use 'site/v';

.home-page #banner-homepage-top {
	@media (min-width: 640px) {
		padding: 0 110px 50px 110px;
		background-color: v.$brand-alt-dark;
	}
}

.home-page #banner-homepage-top .banner-slide {
  height: calc(100dvh - v.$header-height - 50px);
	min-height: 400px;

	@media (max-width: 640px) {
		height: calc(100dvh - v.$header-height-mobile);
	}
}

.home-page #banner-homepage-top #ticket-button-container {
	position: absolute;
	bottom: 130px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 900px) {
		bottom: 120px;
	}

	@media (max-width: 500px) {
		bottom: 100px;
	}
}

.home-page #banner-homepage-top a {
	background-color: v.$brand-main;
	color: v.$brand-alt-dark;
	padding: 10px 30px;
	z-index: 2;
	cursor: pointer;
	transition: transform 200ms ease;
	border-radius: 0px;
	opacity: 0.8;
	font-size: 1.6rem;
	
	@media (min-width: 640px) {
		font-size: 2.2rem;
	}
}

.home-page #banner-homepage-top span {
	background-color: v.$brand-main;
	color: v.$brand-alt-dark;
	padding: 25px 30px 30px 30px;
	z-index: 2;
	border-radius: 0px;
	opacity: 0.8;
	font-size: 1.6rem;
	text-align: center;
	line-height: 20px;
	
	@media (min-width: 640px) {
		font-size: 2.2rem;
	}
}

.home-page #banner-homepage-top .banner-title {
	bottom: 180px;
	font-size: 4rem;

	@media (max-width: 900px) {
		bottom: 200px;
		font-size: 3rem;
	}

	@media (max-width: 500px) {
		bottom: 210px;
		font-size: 2rem;
	}
}

.home-page #banner-homepage-top span h5 {
	margin: 0;
}

.home-page #banner-homepage-top a:hover {
	opacity: 1;
	border-radius: 5px;
}

.home-page #banner-homepage-bottom .banner-slide {
	height: 80vh;
}