@use 'site/v';

.programme {
	display: flex;
	flex-direction: column;
}

.programme h1 {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

.programme ul {
	display: flex;
	flex-direction: column;
	list-style-type: circle;

	@media (max-width: 600px) {
		padding-left: 15px;
	}
}

.programme ul li {
	margin-bottom: 10px;
}

.programme ul span {
	font-size: 1.2rem;
}

.programme ul i {
	font-size: 1rem;
	margin-left: 10px;
}

.programme .clear-box {
	@media (min-width: 1000px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.programme ul,
.programme h2,
.programme h3,
.programme p {
	@media (min-width: 1000px) {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
}