@use 'site/v';

.scouts .title-section h1 {
	margin-bottom: 0;
}

.scouts .title-section a {
	color: v.$almost-black;
	text-decoration: underline;
}

.scouts .title-section a:hover {
	color: v.$brand-main-darker;
}