@use 'site/v';

.scouts .title-section {
	text-align: center;
	width: 100%;
	max-width: 1000px;
	padding: 40px 0 0 0;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 1000px) {
		width: 75%;
	}
}