@use 'site/v';

.sponsors {
	display: flex;
	flex-direction: column;
}

.sponsors .sponsors-main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;

	@media (min-width: 1100px) {
		padding-left: 12.5%;
		padding-right: 12.5%;
	}
}

.sponsors .sponsors-main a,
.sponsors .sponsors-main div.sponsor-non-link {
	max-width: 240px;
	margin-bottom: 30px;
}

.sponsors .sponsors-main a,
.sponsors .sponsors-main div.sponsor-non-link {
	@media (min-width: 500px) {
		margin-right: 30px;
	}
}

.sponsors .sponsors-main a img,
.sponsors .sponsors-main div.sponsor-non-link img {
	display: flex;
	max-width: 100%;
	max-height: 100%;
}

.sponsors .form-content-container {
	background-color: v.$brand-alt-light;
	width: 100%;
}

.sponsors .form-width-control {
	display: flex;
	flex-direction: column;
	padding: 30px 40px 50px 40px;
	width: 100%;

	@media (min-width: 1100px) {
		flex-direction: row-reverse;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		max-width: 1000px;
	}
}

.sponsors .form-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;

	@media (min-width: 1100px) {
		margin-top: 16px;
	}
}

.sponsors .form-content h2 {
	margin-bottom: 0;
}

.sponsors form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	max-width: 600px;
	margin: 20px auto 0 auto;

	@media (min-width: 1100px) {
		margin: 20px 40px 0 0;
	}
}

.sponsors form input,
.sponsors form textarea,
.sponsors form label {
	width: 100%;
}

.sponsors form textarea {
	min-height: 100px;
}

.sponsors form .submit {
	width: 100%;
	max-width: 150px;
	margin-top: 10px;
}

.sponsors form .submit:hover {
	background-color: v.$brand-main-darker;
}