@use 'site/v';

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 30vh;
}

.auth .alert-box {
  width: 100vw;
	max-width: 460px;
}

.auth .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 100vw;
  padding: 20px 20px 0 20px;
}

.auth form {
  width: 100%;
}

.auth form .bottom-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

.auth form .submit {
	margin: 0 0 0 10px;
}

.auth h1, .auth h2 {
  font-size: 2rem;
  margin: auto 0 0 0;
  opacity: 0.2;
  cursor: default;
}

.auth h2 {
	width: 100%;
	text-align: center;

	@media (max-width:800px) {
		font-size: 1rem;
	}
}

.auth .form-errors small:last-child,
.auth small:not(.form-errors small) {
	margin-bottom: 20px;
}
