@use 'site/v';

.map #mapSection {
	display: flex;
	flex-direction: row;
	padding: 0;
	overflow: hidden;

	@media (max-width: 640px) {
		flex-direction: column-reverse;
	}
}

.map #mapEditSection {
	display: flex;
	flex-direction: column;
	padding: 20px 25px;

	@media (max-width: 640px) {
		padding: 15px 20px;
	}
}

.map #mapEditSection h2 {
	color: v.$gray-2;
	margin: 0;

	@media (min-width: 640px) {
		margin-left: 8px;
	}
}

.map #mapEditSection small {
	display: flex;

	@media (min-width: 640px) {
		margin-left: 8px;
	}
}

.map #mapEditSection #mapIcons {
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	max-height: 200px;
}

.map #mapEditSection #mapIcons .mapIcon {
	display: flex;
	border-radius: 3px;
	margin: 0 10px 10px 0;
	cursor: pointer;
	max-height: 50px;

	@media (min-width: 640px) and (max-width: 1100px) {
		max-height: 60px;
	}

	@media (min-width: 1100px) {
		max-height: 80px;
	}
}

.map #mapEditSection form {
  background-color: v.$white;
	box-shadow: v.$shadow-md;
	border: 1px solid v.$border-light;
  border-radius: 6px;
  padding: 12px 12px 16px 12px;
	margin-bottom: 30px;
}

.map #mapEditSection button#mapSave {
	margin: auto 0 5px 0;
}

.map #mapImageContainer {
	position: relative;
	display: flex;
	
	@media (max-width: 640px) {
		width: 100%;
	}
	@media (min-width: 640px) {
		max-width: calc(100% - 160px);
	}
}

.map #mapImageContainer img {
	display: flex;
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

.map #mapImageContainer .mapIcon {
	position: absolute;
	top: 0;
	left: 0;
	cursor: grab;
}

.map #mapImageContainer .mapIcon.selected {
	outline: 1px solid v.$dull-yellow;
}

.map #mapImageContainer .mapIcon img {
	width: 100px;
	height: 100px;
}

.map #mapImageContainer .mapIcon .sizeHandle {
	position: absolute;
	bottom: 0;
	right: -20px;
	font-size: 1rem;
	color: v.$bg-light;
	cursor: nwse-resize;
}

.map #mapImageContainer .mapIcon .deleteButton {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 22px;
	right: -20px;
	padding: 4px 5px 5px 4px;
	border-radius: 5px;
	background-color: v.$red;
	color: white;
	font-size: 0.7rem;
	cursor: pointer;
}

.map #mapImageContainer .mapIcon input {
	position: absolute;
	left: calc(100% + 26px);
	height: 20px;
	box-shadow: v.$shadow-md;
	border: 1px solid v.$border-light;
	border-radius: 6px;
	padding: 1px 2px 1px 4px;
	color: v.$black;
}

.map #mapImageContainer .mapIcon  input.titleInput {
	bottom: 48px;
	width: 120px;
}

.map #mapImageContainer .mapIcon  input.timeInput {
	bottom: 22px;
	width: 120px;
}

.map #mapImageContainer .mapIcon  input.sizeHandleInput {
	bottom: -2px;
	width: 60px;
}