@use 'v';

.admin-menu {
  position: fixed;
  top: 0;
  right: -240px;
  height: 100vh;
  width: 240px;
  background-color: v.$white;
  padding: 27px 20px 25px 20px;
  overflow-y: auto;
  z-index: 10;
  transition: transform 300ms ease;
}

.admin-menu.menu-active {
	box-shadow: v.$shadow-lg;
}

.admin-menu h2.title {
	display: block;
  padding: 0 0 20px 0;
	margin: 0;
  font-size: 1.6rem;
	text-align: center;
  line-height: 20px;
	color: v.$black;
}

.admin-menu ul {
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.admin-menu .nav-link {
  margin-bottom: 10px;
  background-color: v.$white;
  border: 1px solid v.$border-light;
  border-radius: 6px;
  // transition: border-radius 200ms ease;
	box-shadow: v.$shadow-sm;
}

// .admin-menu .nav-link:hover {
// 	@media (min-width: 640px) {
// 		border: 1px solid v.$white;
// 		border-radius: 0;
// 	}
// }

.admin-menu .primary-nav-link, .admin-menu .nav-sublink {
  display: flex;
  align-items: center;
  height: 30px;
}

.admin-menu .nav-link li, .admin-menu .nav-link i {
  color: v.$black;
}

.admin-menu .nav-link-icon {
  font-size: 1rem;
  width: 30px;
  text-align: center;
}

.admin-menu .nav-link .fa-angle-down,
.admin-menu .nav-link .fa-angle-up {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  font-size: 0.9rem;
  width: 26px;
  height: 100%;
}

.admin-menu .nav-link .fa-angle-down:hover,
.admin-menu .nav-link .fa-angle-up:hover {
	@media (min-width: 640px) {
		background-color: v.$bg-main;
	}
}

.admin-menu .nav-link .fa-angle-up {
  display: none;
}

.admin-menu .nav-sublinks {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 200ms ease;
}

.admin-menu .nav-sublink {
  border-top: 1px solid v.$border-light;
  padding-left: 6px;
  min-height: 30px;
  max-height: 30px;
}

.admin-menu .nav-sublink .nav-link-icon {
  margin-left: auto;
}

.admin-menu .nav-sublink:hover {
	@media (min-width: 640px) {
		background-color: v.$bg-main;
	}
}


header .menu-overlay {
  position: absolute;
  position: fixed;
  top: 0;
	right: 100%;
	bottom: 0;
	left: 0;
  cursor: pointer;
  z-index: 5;
	background-color: v.$trans-semi;
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

header .menu-overlay.menu-active {
	right: 0;
	opacity: 1;
}

// Transitions
.menu-non-active {
  transform: translate3d(0, 0, 0);
}

.menu-active {
  transform: translate3d(-240px, 0, 0);
}

.overlay-non-active {
  transform: translate3d(0, 0, 0);
}

.overlay-active {
  transform: translate3d(-100vw, 0, 0);
}
